@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-merino-50: #f9f6f3;
  --color-merino-100: #f4efe7;
  --color-merino-200: #e4d6c4;
  --color-merino-300: #d2bb9f;
  --color-merino-400: #bf9b78;
  --color-merino-500: #b2845d;
  --color-merino-600: #a47252;
  --color-merino-700: #895c45;
  --color-merino-800: #6f4b3d;
  --color-merino-900: #5b3f33;
  --color-merino-950: #30201a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
