@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-merino-50: #f9f6f3;
  --color-merino-100: #f4efe7;
  --color-merino-200: #e4d6c4;
  --color-merino-300: #d2bb9f;
  --color-merino-400: #bf9b78;
  --color-merino-500: #b2845d;
  --color-merino-600: #a47252;
  --color-merino-700: #895c45;
  --color-merino-800: #6f4b3d;
  --color-merino-900: #5b3f33;
  --color-merino-950: #30201a;

  --color-tahiti-gold-50: #fef7ec;
  --color-tahiti-gold-100: #faeacb;
  --color-tahiti-gold-200: #f5d192;
  --color-tahiti-gold-300: #f0b559;
  --color-tahiti-gold-400: #ec9c33;
  --color-tahiti-gold-500: #e67e22;
  --color-tahiti-gold-600: #cb5914;
  --color-tahiti-gold-700: #a83e15;
  --color-tahiti-gold-800: #893017;
  --color-tahiti-gold-900: #712916;
  --color-tahiti-gold-950: #411207;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
